@page
@model TurismoApp.Pages.Reservas.IndexModel

@{
    ViewData["Title"] = "Reservas";
}

<h1>Lista de Reservas</h1>

<p>
    <a asp-page="CreateReserva">Criar Nova Reserva</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Pacote Turístico</th>
            <th>Quantidade de Diárias</th>
            <th>Data da Reserva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservas)
        {
            <tr>
                <td>@item.Cliente?.Nome</td>
                <td>@item.PacoteTuristico?.Titulo</td>
                <td>@item.QuantidadeDiarias</td>
                <td>@item.DataReserva.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
